// this code block is inserted in the app settings

/*
@media screen and (min-width: 769px) {
  #stockist-widget .stockist-horizontal .stockist-side-panel {
    width: 600px;
  }
  #stockist-widget .stockist-horizontal .stockist-map {
    left: 600px;
  }
}

#stockist-widget .stockist-search-form {
  margin-bottom: 60px;
}

#stockist-widget .stockist-side-panel::before {
  content: "Store locator";
  display: block;
  text-align: center;
  padding: 30px;
  font-family: apercu-bold, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  color: #1c567b;
}

#stockist-widget .stockist-query-entry .stockist-search-field {
  border: none;
  padding: 17px;
  height: auto;
}

#stockist-widget .stockist-query-entry .stockist-search-field::placeholder {
  opacity: 0.5;
}

#stockist-widget .stockist-query-entry .stockist-search-button button {
  color: rgba(28, 86, 123, 0.8);
  background-color: transparent;
}

#stockist-widget .stockist-query-entry {
  border: 1px solid rgba(28, 86, 123, 0.3);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

#stockist-widget .stockist-search-form::before {
  content: "This locator allows you to search for a Certified Face Reality Acne Specialist. These Specialists manage their own businesses, which are not operated by Face Reality Skincare. We recommend researching individual Specialists before beginning any treatment.";
  display: block;
  text-align: center;
  margin: 0 0 20px;
padding: 0 30px;
  font-family: apercu-regular, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000;
}

#stockist-widget .stockist-result-list ul>li {
  border-top: 1px solid #e9e9e9;
  padding-right: 20px;
}

#stockist-widget .stockist-result-list ul {
  margin-right: 0;
}

#stockist-widget .stockist-icon-marker:before {
  content: "";
  background-image: url(https://cdn.shopify.com/s/files/1/0019/3603/1842/files/map-pin-f.png?1014422…);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 30px;
  height: 30px;
  display: block;
  margin: auto;
}

#stockist-widget .stockist-result-message .stockist-result-message-text {
  margin-left: 60px;
}

#stockist-widget .stockist-powered-by-link, .stockist-powered-by-link a {
  display:none !important;
}
*/
