<div class="blog-sidebar">

  <h2 class="blog-sidebar__title blog-sidebar__title--first">Recent</h2>
  <div class="blog-sidebar__items" data-blog-index-recent></div>
  <h2 class="blog-sidebar__title">Blogs</h2>
  <div class="blog-sidebar__items">
    {% for item in linklists['blogs'].links %}
      {% assign blog_item = item.object %}
      {% if blog_item.articles.size > 0 %}
        <div class="blog-sidebar__item">
          <a href="{{ blog_item.url }}" class="blog-sidebar__link">
            <span class="blog-sidebar__link-text">{{ blog_item.title }}</span>
            <span class="blog-sidebar__link-icon icon-angle-right"></span>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>