{% comment %} TODO move this to section? {% endcomment %}
<div class="info-cta">
  <h2 class="info-cta__title">Learn more about face reality clinic, and why we can help you when nobody else can.</h2>
  <div class="info-cta__button-wrap">
    <a href="#" class="info-cta__button">Learn more about Face Reality</a>
  </div>
  <div class="info-cta__link-wrap">
    <span class="info-cta__or">or</span>
    <a class="info-cta__link" href="#">Explore our products</a>
  </div>
</div>