<section class="product-usps">
  <div class="row">
    <div class="col">
      <div class="product-usps__usp">
        <img class="product-usps__usp-icon" src="{{ '../assets/images/icon-formulations.png' | asset_img_url: '40x' }}" alt="Calendar"/>
        <span class="product-usps__usp-text">Premium formulations</span>
      </div>
    </div>
    <div class="col">
      <div class="product-usps__usp">
        <img class="product-usps__usp-icon" src="{{ '../assets/images/icon-calendar.png' | asset_img_url: '40x' }}" alt="Calendar"/>
        <span class="product-usps__usp-text">Clear skin in 3-4 months</span>
      </div>
    </div>
    <div class="col">
      <div class="product-usps__usp">
        <img class="product-usps__usp-icon" src="{{ '../assets/images/icon-successrate.png' | asset_img_url: '40x' }}" alt="Calendar"/>
        <span class="product-usps__usp-text">Success rate</span>
      </div>
    </div>
  </div>
</section>
