<div class="product-authorization">
  <img class="product-authorization__icon" src="{{ '../assets/images/icon-authorized.png' | asset_img_url: '60x' }}" alt="Register"/>
  <div class="product-authorization__content">
    <p>{{ auth_note }}</p>
    <a href="{{ auth_url }}" class="product-content__button">{{ auth_l_text }}</a>
    <br>
    <br>
    <p>If you already have an authorization, <a href="/account/login/">log in</a></p>
  </div>
</div>