.contact-page {
  .contact-content {
    padding: 25px 25px 50px;
    background-color: $color-aqua-haze;
    &__inner {
      background-color: $color-white;
    }
  }

  @import "./contact-banner";
  @import "./contact-information";
  @import "./contact-form";
}
