.contact-page {
  .contact-content {
    padding: 25px 25px 50px;
    background-color: $color-aqua-haze;
    &__inner {
      background-color: $color-white;
    }
  }

  @import "./contact-banner";
  @import "./contact-information";
  @import "./contact-form";

  @include media-query("small-down") {
    .contact-content {
      padding: 15px;

      &__inner {
        padding: 30px;
      }
    }
  }

  @include media-query("v-small") {
    .contact-content {
      padding: 7.5px 7.5px 50px;

      &__inner {
        padding: 30px 15px;
      }
    }
  }
}
