.product-gallery {
  margin: 0 0 105px;

  &__image-wrapper {
  }

  &__image {
  }

  &__thumbnails {
  }

  &__item {
  }

  &__thumbnail-link {
  }

  &__thumbnail {
  }

  @include media-query("medium-down") {
    margin: 0 0 60px;
    background-color: rgba($color-fountain-blue, 0.08);

    &__image-wrapper {
      max-height: 400px;
    }

    &__image {
      object-fit: scale-down;
    }

    &__thumbnails {
    }

    &__item {
    }

    &__thumbnail-link {
    }

    &__thumbnail {
    }
  }
}
