.product-usps {
  text-align: center;
  margin: 0 0 40px;
  &__usp {
    &-icon {
      display: block;
      margin: 0 auto 10px;
    }

    &-text {
      @include apercu(700);
      @include Text(12px, 12px, $color-blumine);
    }
  }
}
