.featured-collection {
  text-align: center;
  margin: 0 0 100px;

  &__limiter {
    max-width: 700px;
    margin: 0 auto;
  }

  &__title {
    @extend %title-small;
    margin: 0 0 20px;
  }

  &__text {
    @include apercu(400);
    @include Text(20px, 27px, $color-black);
    margin: 0 0 80px;
  }
}
