.blog {
  @import "./blog-article";
  @import "./blog-sidebar";
  @import "./blog-comments";
  background-color: $color-aqua-haze;
  padding: 30px 0 120px;
  margin: 30px 0 0;

  .blog-title {
    @include apercu(700);
    @include title-l($color-blumine);
    margin: 0 0 15px;
    text-align: center;
  }

  .blog-subtitle {
    @include apercu;
    @include paragraph-l($color-blumine);
    margin: 0 0 15px;
    text-align: center;
  }

  .blog-tags {
    @include no-font-size;
    margin: 0 auto 10px;
    max-width: 500px;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .blog-tag {
    display: inline-block;
    margin: 0 10px 10px;

    a {
      text-decoration: none;
    }
  }

  .breadcrumbs {
    text-align: center;
    padding: 0;
    margin: 0 0 30px;
  }

  .blog-backlink {
    @include apercu;
    @include paragraph-xxs($color-calypso);
    text-decoration: none;
  }

  .blog-backlink-icon {
    margin: 0 15px 0 0;
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
  }

  .blog-read-more {
    @include button(wire);
  }

  @include media-query("medium-down") {
    padding: 15px 0 60px;
    margin: 10px 0 0;

    .blog-subtitle {
      margin: 0 0 5px;
    }

    .blog-tag {
      margin: 0 10px 5px;
    }
  }

  @include media-query("v-small") {
    padding: 7.5px 0 40px;
    margin: 0;
  }
}
