.blog-article {
  background-color: $color-white;
  padding: 50px 40px;
  margin: 50px auto 30px;
  width: 100%;

  &__title {
    @include title-s($color-blumine);
    text-align: center;
    margin: 0 0 40px;
    padding: 0 20px;
  }

  &__image-wrap {
    margin: 0 0 30px;
    text-align: center;
  }

  &__image {
    display: inline-block;
    vertical-align: middle;
    object-fit: scale-down;
    margin: 0 auto;
  }

  &__content {
    @include paragraph-m;
    margin: 0 0 20px;
    display: block;

    p,
    li {
      @include paragraph-m;
    }

    ul {
      list-style: none;
      padding: 0 0 0 60px;
    }

    ul li {
      position: relative;
    }

    ul li::before {
      content: "—";
      position: absolute;
      left: -30px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $color-blumine;
    }

    h1 {
      margin: 0 0 40px;
    }

    h2 {
      margin: 0 0 35px;
    }

    h3 {
      margin: 0 0 30px;
    }

    h4 {
      margin: 0 0 24px;
    }

    h5 {
      margin: 0 0 24px;
    }

    h6 {
      margin: 0 0 24px;
    }

    blockquote {
      font-style: italic;
      display: block;
      text-align: center;
      border-bottom: 1px solid $color-aqua-haze;
      margin: 0 auto 40px;
      max-width: 90%;

      * {
        font-size: 18px;
        line-height: 30px;
        color: $color-calypso;
      }
    }
  }

  &__utilities {
    @include hide-print;
    position: relative;
    padding: 0;
    text-align: right;
    margin: 0 40px 40px;
  }

  &__social {
    display: inline-block;
    text-decoration: none;
    background: transparent;
    border: none;
    appearance: none;

    &--margin {
      margin: 0 40px 0 0;
    }

    &-text {
      @include apercu;
      @include paragraph-m;
      vertical-align: middle;
    }

    &-icon {
      @include Text(20px, 22px, $color-blumine);
      margin: 0 10px 0 0;
      vertical-align: middle;
    }
  }

  &__tags {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;

    li {
      display: inline-block;
      margin: 0 20px 10px 0;
      &:last-of-type {
        margin: 0 0 10px;
      }
    }

    li a {
      text-decoration: none;
      color: $color-blumine;
    }
  }

  .social-sharing {
    z-index: 1;
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    display: none;
    margin: 0;
    padding: 10px;
    background-color: $color-aqua-haze;

    &__link {
      @include no-font-size;
      margin: 0 15px;
      display: inline-block;
      &:hover,
      &:active {
        .social-sharing__icon {
          color: $color-accent;
        }
      }
    }

    &__icon {
      @include transition(color);
      font-size: 24px;
      line-height: 1;
      color: $color-blumine;
    }
  }

  @include media-query("large-down") {
    padding: 40px 30px;
    margin: 0 auto 30px;

    &__title {
      margin: 0 0 20px;
    }

    &__description {
      ul {
        padding-inline-start: 40px;
      }
    }

    &__tags {
      margin: 0 0 40px;
    }
  }

  @include media-query("medium-down") {
    padding: 20px 15px;
    margin: 0 auto 20px;

    &__title {
      margin: 0 0 20px;
      font-size: 18px;
      line-height: 24px;
    }

    &__utilities {
      margin: 0 20px 20px;
    }

    &__social {
      &--margin {
        margin: 0 20px 0 0;
      }

      &__icon {
        font-size: 20px;
      }
    }
  }

  @include media-query("v-small") {
    padding: 15px;
    margin: 0 auto 15px;

    &__title {
      margin: 0 0 15px;
    }
  }
}
