.cart-table {
  border-spacing: 0;

  &__responsive-header {
    @include apercu(700);
    @include Text(18px, 22px, $color-blumine);
    text-align: center;
    margin: 0 auto 30px;
  }

  &__wrap {
    // the strange paddings are there because the borders between products do not go full width on one side
    background-color: $color-mystic;
    padding: 60px 0 100px 70px;
    margin: 0 1px 0 0;
    height: 100%;
  }

  &__update {
    @include button(wire);
  }

  &__update-wrap {
    text-align: right;
    padding: 0 60px;
  }

  &__cell {
    padding: 20px;
    width: auto;

    &--head {
      @include apercu;
      @include Text(13px, 20px, rgba($color-blumine, 0.5));
      padding: 10px 20px;
    }

    &--image {
      padding: 20px 20px 30px 0;
      min-width: 150px;
    }

    &--border {
      border-bottom: 1px solid $color-white;
    }

    &--last {
      padding-right: 60px;
      width: 20%;
    }
  }

  &__square-wrap {
    position: relative;
    padding-top: 100%;
  }

  &__square {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &--white {
      background-color: $color-white;
    }
  }

  &__square-content {
    display: flex;
    height: 100%;
    width: 100%;

    img {
      flex: auto;
      object-fit: scale-down;
    }
  }

  &__product-title {
    @include no-font-size;
    margin: 0 0 8px;
  }

  &__product-link {
    @include apercu(700);
    @include Text(18px, 22px, $color-blumine);
    text-decoration: none;
    display: inline-block;
  }

  &__product-id {
    @include apercu;
    @include Text(13.5px, 16px, $color-dove-gray);
    text-decoration: none;
    margin: 0 20px 8px 0;
  }

  .spr-badge {
    margin: 0 20px 15px 0;
    float: left;
    clear: both;
  }

  .spr-badge-caption {
    display: none;
  }

  &__remove {
    @include apercu;
    @include Text(13.5px, 16px, rgba($color-blumine, 0.6));
    text-decoration: none;
    margin: 0 10px 0 0;
    float: left;
    clear: both;

    &:hover,
    &:active {
      color: $color-blumine;
    }
  }

  &__option {
    @include apercu;
    @include Text(13.5px, 16px, $color-black);
  }

  &__price {
    @include apercu;
    @include Text(16px, 20px, $color-blumine);
  }

  &__quantity {
    @include clearfix;
    border: 1px solid $color-blumine;
  }

  &__quantity-button {
    @include Text(20px, 40px, $color-blumine);
    width: 28px;
    height: 40px;
    float: left;
    background: none;
    border: none;
    appearance: none;

    &[data-direction="down"] {
      border-right: 1px solid rgba($color-bermuda-gray, 0.5);
      float: left;
    }
    &[data-direction="up"] {
      border-left: 1px solid rgba($color-bermuda-gray, 0.5);
      float: right;
    }
  }

  &__quantity-input {
    @include apercu;
    height: 40px;
    width: auto;
    max-width: calc(100% - 60px);
    margin: 0 auto;
    background-color: transparent;
    float: left;
    text-align-last: center;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  &__rsp {
    &-info {
      float: left;
      width: calc(100% - 65px);
      margin: 0 20px 0 0;
    }

    &-image-wrap {
      width: 80px;
      margin: 0 10px 0 0;
      display: block;
      float: left;
      background-color: $color-white;
      padding: 10px;
    }

    &-content {
      width: calc(100% - 90px);
      display: block;
      float: right;
    }

    &-title {
      @include clearfix;
      margin: 0 0 10px;
    }

    &-link {
      @include apercu(700);
      @include Text(16px, 22px, $color-blumine);
      float: left;
      width: calc(100% - 70px);
    }

    &-price {
      @include apercu;
      @include Text(16px, 22px, $color-blumine);
      text-align: right;
      float: left;
      width: 70px;
    }

    &-id {
      @include apercu;
      @include Text(12px, 14px, $color-dove-gray);
      text-decoration: none;
      display: inline-block;
      margin: 0 0 10px;
    }

    &-option {
      @include apercu;
      @include Text(12px, 14px, $color-black);
      text-decoration: none;
      margin: 0 20px 10px;
      display: inline-block;
    }

    &-remove {
      @include apercu;
      @include Text(12px, 14px, rgba($color-blumine, 0.6));
      text-decoration: none;
      float: left;
      width: 45px;
      &:hover,
      &:active {
        color: $color-blumine;
      }
    }
  }

  @include media-query("xl-down") {
    &__update-wrap {
      padding: 0 20px;
    }
    &__wrap {
      padding: 20px 0 60px 20px;
    }
    &__cell {
      padding: 10px;
      &--head {
        padding: 10px;
      }

      &--image {
        padding: 10px 20px 10px 0;
      }

      &--last {
        padding: 10px 20px 10px 10px;
      }
    }
  }

  @include media-query("large-down") {
    &__update-wrap {
      text-align: center;
    }

    &__wrap {
      padding: 0 20px 60px;
      margin: 0;
    }

    &__cell {
      padding: 10px;

      &--head {
        padding: 10px;
      }

      &--image {
        padding: 10px;
      }

      &--last {
        padding: 10px;
      }
    }
  }

  @include media-query("small-down") {
    &__wrap {
      padding: 0 0 60px;
    }

    &__cell {
      width: 100%;
      padding: 20px 15px;
    }

    &__thead {
      display: none;
    }

    &__quantity {
      max-width: 70%;
      margin: 0 0 0 auto;
    }

    &__quantity-button {
      width: 40px;
      height: 35px;
      font-size: 25px;
      line-height: 35px;
    }

    &__quantity-input {
      height: 35px;
      width: calc(100% - 80px);
    }

    &__update-wrap {
      padding: 40px 20px 0;
    }

    &__product-id {
      margin: 0 15px 10px 0;
    }

    &__rsp {
      &-option {
        margin: 0 20px 10px 0;
      }
      &-id {
        margin: 0 20px 10px 0;
      }
    }
  }

  @include media-query("v-small") {
    &__wrap {
      padding: 0 0 15px;
    }
  }
}
