.cart-summary {
  background-color: $color-mystic;
  height: 100%;
  text-align: center;
  padding: 70px 15% 0;

  &__title {
    @include apercu(700);
    @include paragraph-l($color-blumine);
    margin: 0 0 60px;
  }

  &__totals {
    background-color: $color-white;
    padding: 22px 25px;
    display: flex;
    margin: 0 0 5px;
  }

  &__totals-text {
    @include apercu;
    @include paragraph-m-s($color-blumine);
    flex: 1;
    text-align: left;
  }

  &__totals-price {
    @include apercu;
    @include paragraph-l($color-blumine);
    flex: 1;
    text-align: right;
  }

  &__note {
    @include apercu;
    @include paragraph-s($color-blumine);
    margin: 10px 0 30px;
  }

  &__label {
    @include apercu;
    @include paragraph-s($color-blumine);
    display: inline-block;
    margin: 0 0 5px;
  }

  &__textarea {
    width: 100%;
    margin: 0 0 30px;
  }

  &__checkout-button {
    @include button(main);
    padding: 22px;
    font-size: 14px;
    width: 100%;
    margin: 0;
  }

  &__shipping-check {
    @include apercu;
    @include paragraph-s($color-black);
    position: relative;
    top: 0;
    opacity: 1;
    padding: 10px 15px;
    white-space: nowrap;
    display: block;
    background-color: $color-iron;
    margin: 15px auto 30px;
    max-width: 400px;
    &::before {
      content: "";
      position: absolute;
      top: -20px;
      left: calc(50% - 10px);
      display: block;
      border: 10px solid transparent;
      border-bottom: 10px solid $color-iron;
    }
  }

  .usp-triple-icons {
    margin: 0 0 40px;

    &__usp {
      margin: 0;
    }
  }

  @include media-query("xl-down") {
    padding: 30px 30px 0;
  }

  @include media-query("large-down") {
    padding: 60px 20px 40px;

    &__title {
      margin: 0 auto 30px;
      max-width: 600px;
    }

    &__totals {
      padding: 15px;
      margin: 0 auto 5px;
      max-width: 600px;
    }

    &__note {
      margin: 10px auto 40px;
      max-width: 600px;
    }

    &__label {
      margin: 0 auto 5px;
      max-width: 600px;
      display: block;
    }

    &__textarea {
      margin: 0 auto 30px;
      max-width: 600px;
    }

    &__checkout-button {
      padding: 15px;
      margin: 0 auto;
      max-width: 600px;
    }
  }

  @include media-query("v-small") {
    padding: 30px 15px;
  }
}
