.img-comp-container {
  position: relative;
  height: 600px; /*should be the same height as the images*/
}

.img-comp-wrap {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;

  img {
    display: block;
    vertical-align: middle;
    max-width: none;
  }
}

.js-img-comp-slider {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: $color-white;
}

.js-img-comp-slider-circle {
  z-index: 3;
  position: absolute;
  top: calc(50% - 23px);
  left: -23px;
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  background-color: $color-white;
  cursor: grab;
}

.js-img-comp-slider-inner {
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: $color-iron;

  &::before,
  &::after {
    position: absolute;
    top: 10px;
    @include icoMoon;
    color: $color-calypso;
  }

  &::before {
    content: '\e907';
    left: 7px;
  }

  &::after {
    content: '\e905';
    right: 7px;
  }
}
