{% assign c_found = false %}
{% for block in section.blocks %}
  {% assign c = collections[block.settings.collection] %}
  {% if c.handle == collection.handle %}
    {% assign c_found = true %}
    {% if block.settings.title %}
      {% assign b_title = block.settings.title %}
    {% elsif section.settings.title %}
      {% assign b_title = section.settings.title %}
    {% else %}
      {% assign b_title = collection.title %}
    {% endif %}

    {% if block.settings.background %}
      <div class="collection-banner collection-banner--bg lazyload" data-bgset="{% include 'responsive-bg-image', image: block.settings.background %}">
    {% elsif section.settings.background %}
      <div class="collection-banner collection-banner--bg lazyload" data-bgset="{% include 'responsive-bg-image', image: section.settings.background %}">
    {% else %}
      <div class="collection-banner collection-banner--default">
        <div class="container">
          <h2 class="collection-banner__subtitle">{{ b_title }}</h2>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endfor %}

{% if c_found == false %}
  {% if section.settings.background %}
    <div class="collection-banner collection-banner--bg lazyload" data-bgset="{% include 'responsive-bg-image', image: section.settings.background %}">
  {% else %}
    <div class="collection-banner collection-banner--default">
  {% endif %}
    <div class="container">
      {% if collection.handle == "all" or collection.handle == "products" %}
        <h1 class="collection-banner__title" data-collection-banner-title>All Products</h1>
      {% elsif section.settings.title != "" %}
        <h1 class="collection-banner__title">{{ section.settings.title }}</h1>
      {% else %}
        <h1 class="collection-banner__title">{{ collection.title }}</h1>
      {% endif %}
      {% comment %} <h2 class="collection-banner__subtitle">{{ section.settings.title }}</h2> {% endcomment %}
    </div>
  </div>
{% endif %}



{% schema %}
  {
    "name": "Collections Banner",
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "Title",
        "info": "These are defaults to be used on every collection."
      },
      {
        "type": "image_picker",
        "id": "background",
        "label": "Background",
        "info": "1920x400"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "textarea",
            "id": "title",
            "label": "Title",
            "info": "These are collection-specific titles and banner."
          },
          {
            "type": "image_picker",
            "id": "background",
            "label": "Background",
            "info": "1920x400"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      }
    ]
  }
{% endschema %}
